# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Databases
db.sqlite3
db.sqlite3-journal

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Static and Media
staticfiles/
media/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.installed.cfg
*.egg
*.manifest
*.spec

# Jupyter Notebook
.ipynb_checkpoints

# IDEs (Optional - can also be set globally)
.vscode/
.idea/
*.swp
*.swo

